.list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    li{
        list-style: none;
        font-weight: 600;
        font-size: 20px;
        a{
            color: white;
        }
        Link{
            display: flex;
            
        }
    }
}
.menu{
    cursor: pointer;
}
.menuHeader{
    display: flex;
    align-items: center;
    img{
        width: 30px;
    }
    gap: 10px;
    position: absolute;
    top: 15px;
    left: 200px;
}
@media only screen and (max-width: 350px){
    .menuHeader{
        left: 170px;
    }
}