.containerTree {
    width: 95%;
    margin: auto;
}
.containerJobs{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
   
    
}
.sectionTwo{
    margin-top: 50px;
    margin-bottom: 150px;
}

.card {
    width: 310px;
    
}

.information {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

}
.shopsCont{
    width: 95%;
    margin: auto;
    max-width: 1310px;
    width: 80%;
    margin: auto;
}
.cardsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;

}
.new{
    width: 65px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2E5BCF;
    border-bottom-right-radius: 10px;
    border: 1px solid #2E5BCF;
    
    
    p{
        color: white;
        font-size: 20px;
    }
}
.reiting{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img{
    height: 309px;
    width: 309px;
}
.card h3{
    font-size: 24px;
    font-weight: 400;
    width: 230px;
    margin-left: 17px;
    
    
}
.cardInfo{
    font-size: 14px;
    margin-left: 17px;
    margin-top: -25px;
}
.cardPrice{
    color: #16AA4D;
    font-size: 32px;
    font-weight: 700;
    margin-left: 17px;
}
.add{
    width: 80%;
    background-color: #2E5BCF;
    color: white;
    height: 48px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    border-right: 1px solid #C4C4C480;
}
.save{
   height: 48px;
   width: 20%;
   background-color: #2E5BCF;
   border: none;
   cursor: pointer;
}
.cardButtons{
    display: flex;
    align-items: center;
}
.news{
    color: #666666;
    font-size: 30px;
    margin-bottom: 66px;
    margin-top: 100px;
    font-weight: 600;

}
.shops{
    font-weight: 600;
    font-size: 30px;
    color: #1F1F1F;
}

.shopItem{
    padding-top: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.shoplogo{
    width: 130px;
}
.jobsCard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 90px;
}
.jobsInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jobName{
    color: rgba(46, 91, 207, 1);
    font-size: 32px;
}
.hayt{
    color: rgba(196, 196, 196, 1);
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
}



@media only screen and (max-width: 400px){
    .hayt{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 50px;
    }
    

}
@media only screen and (max-width: 700px){
    .information a{
        display: none;
    }
};
@media only screen and (max-width: 800px){
    .maping{
        display: none;
    }
};
@media only screen and (max-width: 1054px){
    .information a {
        display: none;
    }

}
@media only screen and (max-width: 404px){
    .hayt{
        font-size: 25px;
    }

}
@media only screen and (max-width: 344px){
    .hayt{
        font-size: 20px;
    }
}
@media only screen and (max-width: 1800px){
    .jobsInfo img{
        width: 230px;
    }
    .jobName{
        font-size: 30px;
    }

}
@media only screen and (max-width: 1700px){
    .jobsInfo img{
        width: 200px;
    }
    .jobName{
        font-size: 28px;
    }


}
@media only screen and (max-width: 1500px){
    .jobsInfo img{
        width: 180px;
    }
    .jobName{
        font-size: 25px;
    }


}
@media only screen and (max-width: 1400px){
    .jobsInfo img{
        width: 160px;
    }
    .jobName{
        font-size: 23px;
    }


}
@media only screen and (max-width: 1090px){
    .jobsCard{
        gap: 50px;
    }
}
@media only screen and (max-width: 920px){
    .jobsCard{
        gap: 30px;
    }
}



